      <!-- Footer -->
      <footer class="sticky-footer" style="background-image: linear-gradient(to bottom, #121421, #12141d, #12141d, #12131a, #12131a, #12131a, #12131a)">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
              
            <span class="fas">
              Copyright &copy; Get Set Pet</span><br><br>
              <i class="fa fa-html5 fa-2x" style="padding-right: 10px"></i>
              <i class="fa fa-css3 fa-2x" style="padding-left: 10px"></i>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->