  <!-- Page Wrapper -->
  <div id="wrapper">
    <% include callcss-public %>
    <!-- Sidebar -->

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow fixed-top"style="margin-bottom: -30px">

          <a id="title-public">GET SET PET</a>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            
              <li class="nav-item dropdown no-arrow mx-1" id="dropdownmenu" style="padding-top: 10px;">
              <div class="dropdown show">
                  <a class=" dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-navicon fa-2x fa-fw "></i>
                  </a>
                
                  <div class="dropdown-menu drop-responsive" aria-labelledby="dropdownMenuLink" style="width: 100%">
                        <a class="dropdown-item drop-responsive-a" href="#wrapper">
                          <i class="fas fa-home fa-fw drop-responsive-a">   <i style="padding-left: 15px; font-style: normal; font-weight: 700">Inicio</i></i>
                        </a>
                        <hr>
          
                      <!-- Nav Item - Messages -->
                      
                        <a class="dropdown-item drop-responsive-a" href="#servicos">
                          <i class="fa fa-cog fa-fw drop-responsive-a">   <i style="padding-left: 15px; font-style: normal; font-weight: 700">Serviço</i></i>
                        </a>
                        <hr>
                      
                      <!-- Nav Item - Messages -->
                      
                        <a class="dropdown-item drop-responsive-a" href="#quem_somos">
                          <i class="fa fa-group fa-fw drop-responsive-a">   <i style="padding-left: 15px; font-style: normal; font-weight: 700">Equipe</i></i>
                        </a>
                        <hr>
                      
                      <!-- Nav Item - Messages -->
                        <a class="dropdown-item drop-responsive-a" href="#duvidas">
                          <i class="fa fa-address-card-o fa-fw drop-responsive-a">   <i style="padding-left: 15px; font-style: normal; font-weight: 700">Contato</i></i>
                        </a>
                        <hr>

                          <a class="dropdown-item drop-responsive-a" href="/login">
                            <i class="fa fa-user-circle-o fa-fw drop-responsive-a">   <i style="padding-left: 15px; font-style: normal; font-weight: 700">Login</i></i>
                          </a>
                        
                  </div>
                </div>
              </li>
            <!-- Nav Item - Alerts -->
            <li class="nav-item nav-items dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown">
                <i class="fas fa-home fa-fw"> Inicio</i>
              </a>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item nav-items dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#servicos" id="messagesDropdown">
                <i class="fa fa-group fa-fw"> Serviço</i>
              </a>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item nav-items dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#quem_somos" id="messagesDropdown">
                <i class="fa fa-group fa-fw"> Equipe</i>
              </a>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item nav-items dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#duvidas" id="messagesDropdown">
                <i class="fa fa-address-card-o fa-fw"> Contato</i>
              </a>
            </li>

            <div class="topbar-divider d-none d-sm-block nav-items"></div>

            <!-- Nav Item - Messages -->
            <li class="nav-item nav-items dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="/login" id="messagesDropdown">
                  <i class="fa fa-user-circle-o fa-fw"> Login</i>
                </a>
              </li>

          </ul>

        </nav>
        <!-- End of Topbar -->