<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <% include Shared/callcss %>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Criar uma nova conta!</h1>
              </div>
<<<<<<< HEAD
              <!--  -->
              <form class="user" onsubmit="return(validar());" action="/crud/cadusuario" method="post">
=======
              <form class="user" action="/crud/validar" method="POST" onsubmit="return(validacao());">
>>>>>>> ed7bda82559af5c7ce4d022808ae10ba59cb2530
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                      placeholder="Primeiro Nome" name="FirstName" onkeypress="return textonly(event);">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                      placeholder="Ultimo Nome" name="LastName" onkeypress="return textonly(event);">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" r="Endereço de e-mail" name="InputEmail"  placeholder="Email" onkeypress="return validEmail(event);">
                    
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="password"
                      placeholder="Senha" name="InputPassword">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="confirmPassword"
                      placeholder="Repetir senha">

                  </div>
                  <script>
                    function validar() {
                      alert("teste")
                      var senha = document.getElementById("exampleInputPassword");
                      alert(senha.value)
                      if (senha.value == "") {
                        // senha.select();
                        senha.focus();
                        console.log(senha)
                        return false

                      }
                    }

                    function textonly(e) {
                      var code;
                      if (!e) var e = window.event;
                      if (e.keyCode) code = e.keyCode;
                      else if (e.which) code = e.which;
                      var character = String.fromCharCode(code);
                      //alert('Character was ' + character);
                      //alert(code);
                      //if (code == 8) return true;
                      var AllowRegex = /^[\ba-zA-Z\s-]$/;
                      if (AllowRegex.test(character)) return true;
                      return false;
                    }
                  </script>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
<<<<<<< HEAD

=======
              
>>>>>>> ed7bda82559af5c7ce4d022808ae10ba59cb2530
                  </div>
                  <div class="col-sm-6">
                    Nivel de acesso:
                    <select class="form-control" name="NivelAcesso">

                      <% for(var i=0; i < data.length; i++) { %>

                      <option value="<%= data[i].id %>"><%= data[i].name %></option>

                      <% } %>

                    </select>
                  </div>
                </div>
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Registrar conta">
                <%= message %>
                <hr>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  

<<<<<<< HEAD
  <!-- Custom scripts for all pages-->
  <!-- <script src="javascripts/sb-admin-2.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

  <!-- <script src="../public/javascripts/teste.js"></script> -->
=======
 <script src="javascripts/validacao.js"></script>
>>>>>>> ed7bda82559af5c7ce4d022808ae10ba59cb2530

</body>

</html>